
{% load static %}

body {
	/*background-color: #006E4A;*/
	/*background: linear-gradient(to bottom right, #00AA72, #207F60) no-repeat;*/
	background: white;
	color: white;
	/*Запрет выделения текста*/
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	font-family: 'Lora', serif ;
}

a {
	text-decoration: none;
	color: white;
}

.logo {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

.wrapper-header-full {
  background-image: url(/static/images/headerV4.jpg);
	height: 937px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.wrapper-header {
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/*Выпадающее меню
----------------------------------------------------------------------------*/

.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  padding-top: 10px;
  min-width: 200px;
  min-height: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
  z-index: 1;
  color: black;
}


.dropdown:hover .dropdown-content {
  display: block;
}

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

input[type="text"], input[type="password"] {
	border-width: 0;
	box-shadow: inset 0 0 0 0.5px black;
	outline: none;
	width: 200px;
	padding: 10px 15px;
	margin-top: 20px;
	border-radius: 10px;
	background: white;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
	box-shadow: inset 0 0 0 2px rgba(28,100,175,0.5);
}

button {
	height: 36px;
	margin-top: 15px;
	border-width: 0;
	display: block;
	width: 200px;
	background: #593a29;
	color: white;
	font-size: 14px;
	outline: none;
	text-transform: uppercase;
	border-radius: 8px;
	margin-bottom: 10px;
	float: right;
	position: relative;
}
/*-------------------------------------------------------------------------*/

.wrapper-header img {
	height: 100px;
}

.wrapper-header ul li {
	display: inline; /* Отображать как строчный элемент */
	font-size: 20px;
	font-weight: bold;
	margin-left: 40px;
}

.wrapper-header ul li:hover, .wrapper-header ul li a:hover {
	color: #d08121;
}

h1 {
	font-size: 70px;
	font-weight: bold;
	text-align: center;
	margin-top: 250px;
	margin-bottom: 100px;
	text-shadow: 1px 1px 2px black; /* Параметры тени */
}

/*Кнопка*/
.create-diary-button {
	height: 80px;
	width: 300px;
	border-radius: 10px;
	background-color: white;
	margin: 0 auto;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 28px;
	font-weight: bold;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*Основной контент
---------------------------------------------------------------------------------------*/

.wrapper-main {
	color: black;
	/*border: 1px solid orange;*/
	flex-direction: column;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin: auto 130px;
	margin-top: 100px;
}

.wrapper-main-block1 {
	display: flex;
	align-items: center;
	background: #FFFBF7;
	border-radius: 10px;
	margin-bottom: 30px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 8px 8px rgba(0,0,0,0.22);
}

.wrapper-main-block2 {
	align-self: flex-end;
	display: flex;
	align-items: center;
	background: #FFFBF7;
	border-radius: 10px;
	margin-bottom: 30px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 8px 8px rgba(0,0,0,0.22);
}

.wrapper-main-block3 {
	display: flex;
	align-items: center;
	background: #FFFBF7;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 8px 18px rgba(0,0,0,0.22);
}

.wrapper-main img{
	height: 450px;
	width: 300px;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.wrapper-main h2 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-left: 30px;
	margin-right: 30px;
}

.wrapper-main p {
	max-width: 500px;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 20px;
	text-align: left;
	margin-bottom: 30px;
}

/*Подвал
---------------------------------------------------------------------------------------*/

.wrapper-footer {
	margin-top: 100px;
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	color: black;
	font-size: 18px;
	/* background: linear-gradient(to bottom, white, #DBDBDB) no-repeat; */
	background: #EEEEEE;
}

.wrapper-footer p{
	margin-top: 20px;
}

/* .wrapper-footer ul {
	margin-top: 50px;
}

.wrapper-footer li{
	display: inline;
	margin-left: 60px;
}

.footer-left {
	border-top: 1px solid #000;
	width: 45%;
}

.footer-right {
	border-top: 1px solid #000;
	width: 45%;
} */
